name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 15 * * 3'
jobs:
  test:
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os:
        - windows-latest
        - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-java@v5
      with:
        java-version: 11
        distribution: temurin
    - uses: sbt/setup-sbt@v1
    - uses: coursier/cache-action@v7
    - shell: bash
      run: |
        case ${{ matrix.os }} in
          "windows-latest")
            sbt -v -J-Dfile.encoding=Windows-31J "+test"
            ;;
          *)
            sbt -v scalafmtSbtCheck "+ scalafmtCheckAll" "+test"
        esac
